<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <script type="text/javascript" src="../static/js/lib/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="../static/js/index.js"></script>
</head>
<body>
   <div class="body-main">
     <div class="left-menu">
        <div class="left-menu__section-bar">
            <p class="section-bar__tags">Tags</p>
            <button id="btnAddTags" class="section-bar__add btn">+</button>
        </div>
         <div class="left-menu__input">
             <input placeholder="请输入Tags"/>
         </div>
        <div class="left-menu__tag">
            <ul>
                <li class="left-menu__li all">All
                    <!--<div class="left-menu__li__text">-->
                        <!--<a href="#">update</a><a href="#">delete</a>-->
                    <!--</div>-->
                </li>

                {% for tag in tags %}
                    <li class="left-menu__li" data-id="{{ tag.tagId }}">{{ tag.content }}
                        <div class="left-menu__li__text">
                            <a href="#">update</a><a href="#">delete</a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="min-menu">
        <div class="min-menu__section-bar">
            <p class="min-menu__notes ">All notes</p>
            <button id="btnAddNote" class="min-menu__add btn">+</button>
        </div>
        <div class="min-menu__search">
            <input placeholder="Search"/>
        </div>

        <p class="min-menu__sort">
            <select>
                 <option>1-1</option>
                 <option>1-2</option>
            </select></p>
        <div class="min-menu__note">
            <ul class="min-menu__title">
                <li class="min-menu__li all"><a href="#">All</a>
                    <div class="min-menu__li__text">
                        <a href="#">update</a><a href="#">delete</a>
                    </div>
                </li>

                {% for note in notes %}
                     <li class="min-menu__li" tag-id="{{ note.tagId }}"   note-id="{{ note.noteId }}">
                         <a class="min-menu__li_title" href="#">{{ note.content }}</a>
                        <div class="min-menu__li__text">
                            <a href="#">update</a><a href="#">delete</a>
                        </div>
                    </li>
                {% endfor %}

            </ul>
        </div>
    </div>

    <div class="right-menu">
        <div class="right-menu__head">
            <p class="right-menu__title">title</p>
            <p class="right-menu__subhead"></p>
            <button id="btnSave" class="right-menu__save btn">save</button>
        </div>
        <div class="right-menu__toolbar">

        </div>

        <div class="right-menu__content">
            <textarea class="right-menu__view"></textarea>
        </div>
    </div>
   </div>
</body>
</html>