<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="{{ url_for('static', filename='js/common.js') }}"></script>
</head>
<body>
    <h1>TODO</h1>
    <div>
        看起来您还没有登录 todo，请在下面的输入框中输入密钥，或者点 <a href="#" id="id-a-generate-code">这里</a> 生成一个新的登录密钥
    </div>

    <div id="id-alert-message">
    </div>


    <script>
        // 更换验证码
        function changeSrcCode(obj){
            var request = {
                method: 'get',
                url: '/user/verifcode',
                callback: function (response) {
                   obj.src=randomUrl("/static/img/idencode.png?r=");
                },
            };
            ajax(request)

        }
        // 每次返回URL不一样
        function randomUrl(url){
            if(url.indexOf("?") > -1){
                url = url + "&rt=" + new Date().getTime();
            }else{
                url = url + "?rt=" + new Date().getTime();
            }
            return url;
        }

        // 生成校验码
        var bindVerifCodeListener = function () {
            var aLink = e('#id-a-generate-code')
            aLink.addEventListener('click', function () {
                var request = {
                    method: 'get',
                    url: '/user/verifcode',
                    callback: function (response) {
                        var response = JSON.parse(response)
                        log('ok', response)
                        var message = e('#id-alert-message')
                        var html = `
                            <img src="/static/img/idencode.png" onclick="changeSrcCode(this);">
                            <div id="id-verifycode">
                                <input class="verifycode-input" placeholder="请输入校验码" name="verifycode">
                                <button class="verifycode-button" type="submit">校验码</button>
                            </div>
                        `
                        message.insertAdjacentHTML('beforebegin', html)
                        bindCheckVerifyCodeListener()
                    },
                };
                ajax(request)
            })
        }

        // 生成特征值
        var generateToken = function () {
            var request = {
                method: 'post',
                url: '/user/randomcode',
                data: '',
                callback: function (response) {
                    var response = JSON.parse(response)
                    log('ok', response)
                    var message = e('#id-alert-message')
                    var html = `<p>${response}</p>
                        <form action="/user/login" method="post" >
                            <input placeholder="username" name="username">
                            <button type="submit">登录</button>
                        </form>

                    `
                    message.insertAdjacentHTML('beforebegin', html)

                },
            };
            ajax(request)
        }

        // 校验码检查
        var bindCheckVerifyCodeListener = function () {
            var verifyBtn = e('.verifycode-button')
            verifyBtn.addEventListener('click', function () {
                var input = e('.verifycode-input').value
                var request = {
                    method: 'post',
                    url: '/user/check/verifycode',
                    data: JSON.stringify({data: input}),
                    callback: function (response) {
                        var response = JSON.parse(response)
                        log('check result', response)
                        var result = response.result
                        if (result == 1) {
                            generateToken()
                        }

                    },
                };
                ajax(request)
            })
        }


        var bindListener = function () {
            bindVerifCodeListener();
        };

        var __main = function () {
            bindListener();
        }
        //
        __main()
    </script>
</body>
</html>