{% extends 'base.html' %}

{% block title %}登录{% endblock %}

{% block body %}
    <input id="id-login-username" placeholder="用户名">
    <input id="id-login-password" placeholder="密码">
    <button id="id-btn-login">登录</button>

    <br>

    <input id="id-reg-username" placeholder="用户名">
    <input id="id-reg-password" placeholder="密码">
    <button id="id-btn-register">注册</button>

    <script>
        var btnLogin = e('#id-btn-login');
        var btnRegister = e('#id-btn-register')

        btnLogin.addEventListener('click', function(){
            var username = e('#id-login-username').value;
            var password = e('#id-login-password').value;

            // 回调函数
            var callback = function (d) {
                var response = JSON.parse(d);
                log('callback', response);
                if(response.status){
                    alert('登录成功')
                    window.location.href = '/zhihu'
                }else{
                    alert('登录失败 ' + response.message)
                }
            };

            var data = {
                'username': username,
                'password': password
            };

            apiLogin(data, callback);
        })

        btnRegister.addEventListener('click', function () {
            var username = e('#id-reg-username').value;
            var password = e('#id-reg-password').value;

            // 回调函数
            var callback = function (d) {

                var response = JSON.parse(d);
                log('callback', response)
                if(response.status){
                    alert('注册成功')
                }else{
                    alert('注册失败 ' + response.message)
                }
            };

            var data = {
                'username': username,
                'password': password
            };

            apiRegister(data, callback);
        })
    </script>
{% endblock %}
