<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
    <input id="id-input-username" placeholder="用户名">
    <input id="id-input-password" placeholder="密码">
    <button id="id-btn-login">登录</button>
</body>

    <script src="/static?file=base.js"></script>
    <script src="/static?file=api.js"></script>
    <script>
        var btnLogin = e('#id-btn-login');
        // 回调函数
        var callback = function (d) {
            data = JSON.parse(d);
            log('callback', data)
            if(data.status){
                alert('登录成功')
            }else{
                alert('登录失败 ' + data.message)
            }
        };

        btnLogin.addEventListener('click', function(){
            var username = e('#id-input-username').value;
            var password = e('#id-input-password').value;

            var data = {
                'username': username,
                'password': password
            };

            apiLogin(data, callback);
        })
    </script>

</html>