<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Koa • Todo</title>
    <script src="/static/js/lib/jquery-3.1.1.min.js"></script>
    <script src="/static/js/lib/jquery.tmpl.min.js"></script>
    <link rel="stylesheet" href="/static/css/base.css">
    <!-- <link rel="stylesheet" href="css/app.css"> -->
  </head>
  <body>
    <button id="id-btn">btn</button>
    <section id="todoapp"></section>

    {% block templates %} {% include 'tmp/template.html' %} {% endblock %}

    <footer id="info">
      <p>Double-click to edit a todo</p>
       <a href="/user/logout">退出登录</a>
    </footer>

    <script src="/static/js/todo_index.js"></script>

  </body>
</html>



